.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* hide the overflow */
}

.App-link {
  color: #61dafb;
}

.settings-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}


.transcript {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
}

.transcript.visible {
  opacity: 1;
}

.voice-recorder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mic-container {
  position: absolute;
  bottom: -50px; /* Adjust this value to position the microphone button above the response text */
}

.response-text {
  position: absolute;
  bottom: -150px; /* Adjust this value to position the text below the button */
  text-align: center;
  width: 70%; /* Adjust the width of the text container */
  left: 15%; /* Center the container horizontally */
  white-space: pre-wrap;
  font-size: 13px; /* Adjust the font size to a smaller value */
  line-height: 1.2; /* Adjust the line height */
}

.processing-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom: 60px; /* Adjust this value to position the text above the button */
}

.processing-message.visible {
  opacity: 1;
}

.processing-message-container {
  min-height: 20px; /* Adjust this value to match the height of the processing message */
}

.form-group {
    display: flex;
    align-items: center;
}
  
.form-group button {
    margin-left: 10px;
}
  
.voice-recorder > div {
  width: 100%;
  height: 80px;
}