.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.settings-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.processing-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.processing-message.visible {
  opacity: 1;
}

.wave-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.transcript {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
}

.transcript.visible {
  opacity: 1;
}

.voice-recorder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-text {
  position: absolute;
  top: 80px; /* Adjust this value to position the text under the button */
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.response-text.visible {
  opacity: 1;
}

.processing-message-container {
  min-height: 20px; /* Adjust this value to match the height of the processing message */
}